html {
    scroll-behavior: smooth;
  }

#logo{
    left: 0;
    width: 300px;
    display: inline-block;
}

.navbar {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 3px;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 14px;
}

a {
    color: gray;
    font-size: 18px;
    margin: 0px 10px;
}

a:hover {
    letter-spacing: 6px;
    color: black;
}

.active {
    border-bottom: 1px solid gray;
}

.pageContent {
    height: 100vh;
    position: relative;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 3px;
    margin-top: 40px;
}

#backgroundImg {
    width: 100%;
    filter: brightness(30%);
    position: fixed;
}

.content {
    color: white;
    margin-top: 30px;
    text-align: center;
    align-content: center;
    position: absolute;
    width: 100%;
}

h1, h2, h4 {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
}

.top {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    width: 100%;
}

.pTagSpace {
    width: 60%;
    margin: 50px auto;
    font-size: 16px;
}

.space {
    margin: 100px 0;
}

.card {
    display: inline-block;
    color: black;
    margin: 30px 40px;
    letter-spacing: 1px;
    height: auto;
    opacity: .8;   
    width: 18% !important;
    padding: 0 !important;      
}

.cardImg {
    width: 100% !important;
}


.piTop {
    height: 200px;
    margin: 10px 30px;
    border: 1px solid white;
    border-radius: 5px;
    opacity: .87;
    display: inline-block;
}

.card-img-top {
    height: 150px;
    border-bottom: 1px solid gray;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 30px;
}

.form-control {
    width: 500px;
    margin: 30px auto;
    align-content: center;
    opacity: .8;
}

.logo {
    width: 45px;
    margin: 20px;
    display: inline-block;
}

.logoLinks {
    display: inline-block;
    margin: 20px;
}

.logoLinks:hover {
    transform: scale(1.05);
}

.aboutMe {
    display: inline-block;
}

.myImg {
    border-radius: 50%;
    height: 140px;
    opacity: .8;
    border: 1px solid white;
}

.navbar-toggler {
    background-color: gray;
}

.navbar-toggler-icon {
    color: white;
    z-index: 3;
}

footer {
    height: 5%;
    position: fixed;
    bottom: 0;
    color: gray;
}

.copyright {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding: 5px;
}

.skillsDiv {
    width: 60%;
    margin: auto;
}

.buttonStyle {
    width: 90%;
    background-color: rgb(165, 165, 165);
    border: none;
    margin-bottom: 5px;
}

.buttonStyle:hover {
    background-color: rgb(120, 119, 119);
}

.techUsed {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
}

/* .btn:focus {
    background-color: rgb(120, 119, 119);
}

.btn:active {
    background-color: rgb(120, 119, 119);
} */

@media screen and (max-width : 890px) {
    #backgroundImg {
        height: 100%;
        filter: brightness(30%);
        position: fixed;
        width: auto;
    }
    .form-control {
        width: 80%;
        margin: 30px auto;
        align-content: center;
        opacity: .8;
    }
    .nav-link {
        padding: 0;
    }

    .hide {
        display: none;
    }
}
